
body {
  font-family: Calibri, Helvetica, sans-serif;
  background-image: url("forest.jpeg");
  background-size: cover;
}
form{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

 .container { 
        padding: 25px; 
        background-color: white;
        height: 300px;
        width:380px;
    }
button { 
       background-color: #4CAF50; 
       width: 100%;
        color: black; 
        padding: 15px; 
        margin: 10px 0px; 
        border: none; 
        cursor: pointer; 
         } 
 input[type=text], input[type=password] { 
        width: 100%; 
        margin: 8px 0;
        padding: 12px 20px; 
        display: inline-block; 
        /*border: 2px solid green; */
        box-sizing: border-box; 
    }
 button:hover { 
        opacity: 0.7; 
    } 
  .cancelbtn { 
        width: auto; 
        padding: 10px 18px;
        margin: 10px 5px;
    } 
      
   
