body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(startup.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen{
h1 {
  font-size: 3rem;
  color: #e2dbdb;
}
.buffer {
  height: 10rem;
}
hr {
  border-color: #F05F44;
  border-width: 3px;
  max-width: 60px;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}
}
@media only screen and (max-width: 1000px)
{
h1 {
  font-size: 2.1rem;
  color: #e2dbdb;
}
.buffer {
  height: 8rem;
}
hr {
  border-color: #F05F44;
  border-width: 3px;
  max-width: 60px;
  height: 0.1rem;
}

.btn {
  font-weight: 600;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 3px;
}

.btn-xl {
  padding: 1rem 2rem;
}
}
@media only screen and (max-width: 900px)
{
h1 {
  font-size: 2rem;
  color: #e2dbdb;
}
.buffer {
  height: 8rem;
}
hr {
  border-color: #F05F44;
  border-width: 3px;
  max-width: 60px;
  height: -1rem;
}

.btn {
  font-weight: 600;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 3px;
}

.btn-xl {
  padding: 1rem 2rem;
}
}
@media only screen and (max-width: 600px)
{
h1 {
  font-size: 1.8rem;
  color: #e2dbdb;
}
.buffer {
  height: 6.4rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}
}
